:root {
  /* Background-Settings */
  --background: var(--opera-gx-bg-1);
  --background-behind-appmount: rgb(var(--darker-background-color));
  --background-accent-color-1: 0, 0, 0, 0;
  /* Color-Settings (RGB only) */
  --accent-color-1: 121, 199, 237; /* Main accent color */
  --accent-color-2: 71, 141, 181; /* Adjusted secondary accent color */
  --dark-background-color: 2, 83, 115; /* Adjusted darker background color */
  --darker-background-color: 3, 52, 71; /* Adjusted another background color */
  --border-brightness: 1;
  /*  More-Color-Settings   */
  --gx-red: 181, 32, 63;
  --gx-red-2: 130, 27, 49;
  --gx-yellow: 234, 234, 34;
  --gx-yellow-2: 255, 255, 68;
  --gx-green: 0, 212, 81;
  --gx-green-2: 0, 255, 129;

  /*  Font-Color-Settings  */
  --fullwhite-font: 250, 253, 255;
  --normal-font: 201, 203, 206;
  --normal-hover-font: 238, 239, 240;
  --muted-font: 114, 118, 125;
  --link-text: 0, 176, 244;
  --font-in-accent: 0, 0, 0;
  /* Font-Setting */
  --customFont: unset;
  --codeBlocksCustomFont: unset;
  --category-name-transform: unset;
  /* Advanced-Background-Settings */
  --wintitlebar-background-blur: none;
  --wintitlebar-transparency: 0.7;
  --wintitlebar-transparency-color: var(--dark-background-color);
  --wintb-focused-alpha: 1;
  --wintb-focused-color: var(--darker-background-color);

  --header-background-blur: none;
  --header-transparency: 0.5;
  --header-transparency-color: var(--dark-background-color);

  --serverlist-background-blur: none;
  --serverlist-transparency: 0.5;
  --serverlist-transparency-color: var(--dark-background-color);

  --channels-background-blur: none;
  --channels-transparency: 0.5;
  --channels-transparency-color: var(--dark-background-color);

  --chat-background-blur: none;
  --chat-transparency: 0.5;
  --chat-transparency-color: var(--dark-background-color);

  --memberlist-background-blur: none;
  --memberlist-transparency: 0.5;
  --memberlist-transparency-color: var(--dark-background-color);

  --st-l-scroller-bg-blur: none;
  --st-l-scroller-transparency: 1;
  --st-l-scroller-color: var(--dark-background-color);
  --st-r-scroller-bg-blur: none;
  --st-r-scroller-transparency: 1;
  --st-r-scroller-color: var(--darker-background-color);
  /* Advanced-Element-Transparency-Settings */
  --chatbox-transparency: 1;
  --chatbox-focused-transparency: 1;
  --other-transparency: 1;
  --other-highlighted-transparency: 1;
  --lines-transparency: 1;
}
